In [1]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [14]:
employee_data = [
    {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Assep', 'department': 'Manajer', 'age': 25, 'salary': 2000},
    {'name': 'Hakkan', 'department': 'IT', 'age': 20, 'salary': 3500},
    {'name': 'Lutfi', 'department': 'Hacker', 'age': 32, 'salary': 6000}
]

collection.insert_many(employee_data)
print("Data inserted")

Data inserted

In [15]:
collection.update_one(
    {'name': 'Assep'},
    {'$set': {'department': 'Hacker'}}
)
print("Data Update!")

Data Update!

In [17]:
collection.delete_many({'name': 'Alice'})
print("Delete Data Success!")

Delete Data Success!

In [18]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('690353d424bb49841e0d4598'), 'name': 'Assep', 'department': 'Hacker', 'age': 25, 'salary': 2000}
{'_id': ObjectId('690353d424bb49841e0d4599'), 'name': 'Hakkan', 'department': 'IT', 'age': 20, 'salary': 3500}
{'_id': ObjectId('690353d424bb49841e0d459a'), 'name': 'Lutfi', 'department': 'Hacker', 'age': 32, 'salary': 6000}

In [19]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'average_salary': 3500.0}
{'_id': 'Hacker', 'average_salary': 4000.0}

In [2]:
products_collection = db['products']

products_data = [
    {'name': 'Laptop Lenovo ThinkPad', 'category': 'Elektronik', 'price': 12000000, 'stock': 15},
    {'name': 'Smartphone Samsung Galaxy', 'category': 'Elektronik', 'price': 8500000, 'stock': 30},
    {'name': 'Headset Logitech G435', 'category': 'Aksesoris', 'price': 950000, 'stock': 25},
    {'name': 'Keyboard Razer BlackWidow', 'category': 'Aksesoris', 'price': 1800000, 'stock': 10},
    {'name': 'Mouse Logitech M590', 'category': 'Aksesoris', 'price': 650000, 'stock': 40},
    {'name': 'Laptop Victus', 'category': 'Elektronik', 'price': 4200000, 'stock': 12},
    {'name': 'Charger Anker 45W', 'category': 'Aksesoris', 'price': 350000, 'stock': 50},
    {'name': 'Flashdisk Sandisk 64GB', 'category': 'Penyimpanan', 'price': 120000, 'stock': 70},
    {'name': 'Samsung J2 Prime', 'category': 'Elektronik', 'price': 2100000, 'stock': 18},
    {'name': 'External HDD Seagate 2TB', 'category': 'Penyimpanan', 'price': 1500000, 'stock': 20}
]

products_collection.insert_many(products_data)

print("Data produk berhasil dimasukkan ke koleksi 'products'")
for product in products_collection.find():
    print(product)

Data produk berhasil dimasukkan ke koleksi 'products'
{'_id': ObjectId('6903580addecef3a1e9340a6'), 'name': 'Laptop Lenovo ThinkPad', 'category': 'Elektronik', 'price': 12000000, 'stock': 15}
{'_id': ObjectId('6903580addecef3a1e9340a7'), 'name': 'Smartphone Samsung Galaxy', 'category': 'Elektronik', 'price': 8500000, 'stock': 30}
{'_id': ObjectId('6903580addecef3a1e9340a8'), 'name': 'Headset Logitech G435', 'category': 'Aksesoris', 'price': 950000, 'stock': 25}
{'_id': ObjectId('6903580addecef3a1e9340a9'), 'name': 'Keyboard Razer BlackWidow', 'category': 'Aksesoris', 'price': 1800000, 'stock': 10}
{'_id': ObjectId('6903580addecef3a1e9340aa'), 'name': 'Mouse Logitech M590', 'category': 'Aksesoris', 'price': 650000, 'stock': 40}
{'_id': ObjectId('6903580addecef3a1e9340ab'), 'name': 'Laptop Victus', 'category': 'Elektronik', 'price': 4200000, 'stock': 12}
{'_id': ObjectId('6903580addecef3a1e9340ac'), 'name': 'Charger Anker 45W', 'category': 'Aksesoris', 'price': 350000, 'stock': 50}
{'_id': ObjectId('6903580addecef3a1e9340ad'), 'name': 'Flashdisk Sandisk 64GB', 'category': 'Penyimpanan', 'price': 120000, 'stock': 70}
{'_id': ObjectId('6903580addecef3a1e9340ae'), 'name': 'Samsung J2 Prime', 'category': 'Elektronik', 'price': 2100000, 'stock': 18}
{'_id': ObjectId('6903580addecef3a1e9340af'), 'name': 'External HDD Seagate 2TB', 'category': 'Penyimpanan', 'price': 1500000, 'stock': 20}

In [3]:
pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]
average_result = list(products_collection.aggregate(pipeline))[0]
average_price = average_result['average_price']

print(f"Rata-rata harga produk: {average_price}")

query = {'price': {'$gt': average_price}}

print("\nProduk dengan harga di atas rata-rata:")
for product in products_collection.find(query):
    print(product)

Rata-rata harga produk: 3217000.0

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6903580addecef3a1e9340a6'), 'name': 'Laptop Lenovo ThinkPad', 'category': 'Elektronik', 'price': 12000000, 'stock': 15}
{'_id': ObjectId('6903580addecef3a1e9340a7'), 'name': 'Smartphone Samsung Galaxy', 'category': 'Elektronik', 'price': 8500000, 'stock': 30}
{'_id': ObjectId('6903580addecef3a1e9340ab'), 'name': 'Laptop Victus', 'category': 'Elektronik', 'price': 4200000, 'stock': 12}

In [4]:
pipeline = [
    {
        '$group': {
            '_id': '$category',          
            'total_products': {'$sum': 1}
        }
    }
]

for result in products_collection.aggregate(pipeline):
    print(result)

{'_id': 'Elektronik', 'total_products': 4}
{'_id': 'Aksesoris', 'total_products': 4}
{'_id': 'Penyimpanan', 'total_products': 2}

In [15]:
employee_data = [
    # Departemen: Finance
    {'name': 'Alice', 'department': 'Finance', 'age': 28, 'salary': 5500},
    {'name': 'Budi', 'department': 'Finance', 'age': 35, 'salary': 6200},
    {'name': 'Citra', 'department': 'Finance', 'age': 26, 'salary': 4800},
    {'name': 'Dani', 'department': 'Finance', 'age': 31, 'salary': 5100},
    {'name': 'Eka', 'department': 'Finance', 'age': 29, 'salary': 5300},
    {'name': 'Fahri', 'department': 'Finance', 'age': 40, 'salary': 7000},

    # Departemen: IT
    {'name': 'Gilang', 'department': 'IT', 'age': 25, 'salary': 5200},
    {'name': 'Hana', 'department': 'IT', 'age': 27, 'salary': 5600},
    {'name': 'Ivan', 'department': 'IT', 'age': 32, 'salary': 6100},
    {'name': 'Joko', 'department': 'IT', 'age': 29, 'salary': 5800},
    {'name': 'Kiki', 'department': 'IT', 'age': 30, 'salary': 5400},
    {'name': 'Lala', 'department': 'IT', 'age': 33, 'salary': 6000},

    # Departemen: HR
    {'name': 'Mila', 'department': 'HR', 'age': 26, 'salary': 4700},
    {'name': 'Nina', 'department': 'HR', 'age': 28, 'salary': 4900},
    {'name': 'Omar', 'department': 'HR', 'age': 35, 'salary': 5200},
    {'name': 'Putri', 'department': 'HR', 'age': 30, 'salary': 5100},
    {'name': 'Qori', 'department': 'HR', 'age': 24, 'salary': 4500},
    {'name': 'Rafi', 'department': 'HR', 'age': 33, 'salary': 5500},

    # Departemen: Marketing
    {'name': 'Sinta', 'department': 'Marketing', 'age': 27, 'salary': 4900},
    {'name': 'Tio', 'department': 'Marketing', 'age': 31, 'salary': 5300},
    {'name': 'Umar', 'department': 'Marketing', 'age': 29, 'salary': 5200},
    {'name': 'Vina', 'department': 'Marketing', 'age': 25, 'salary': 4700},
    {'name': 'Wawan', 'department': 'Marketing', 'age': 34, 'salary': 6000},
    {'name': 'Xena', 'department': 'Marketing', 'age': 30, 'salary': 5400},

    # Departemen: Engineering
    {'name': 'Yoga', 'department': 'Engineering', 'age': 27, 'salary': 5800},
    {'name': 'Zara', 'department': 'Engineering', 'age': 28, 'salary': 6100},
    {'name': 'Adit', 'department': 'Engineering', 'age': 35, 'salary': 6400},
    {'name': 'Bima', 'department': 'Engineering', 'age': 32, 'salary': 5900},
    {'name': 'Cleo', 'department': 'Engineering', 'age': 30, 'salary': 6200},
    {'name': 'Dira', 'department': 'Engineering', 'age': 29, 'salary': 5700}
]

collection.insert_many(employee_data)
print("Data 30 karyawan berhasil dimasukkan.")

Data 30 karyawan berhasil dimasukkan.

In [16]:
pipeline = [
    {"$sort": {"salary": -1}},
    {"$group": {
        "_id": "$department",
        "top_employees": {
            "$push": {"name": "$name", "salary": "$salary"}
        }
    }},
    {"$project": {
        "top_employees": {"$slice": ["$top_employees", 5]}
    }}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'top_employees': [{'name': 'Ivan', 'salary': 6100}, {'name': 'Lala', 'salary': 6000}, {'name': 'Joko', 'salary': 5800}, {'name': 'Hana', 'salary': 5600}, {'name': 'Kiki', 'salary': 5400}]}
{'_id': 'Finance', 'top_employees': [{'name': 'Fahri', 'salary': 7000}, {'name': 'Budi', 'salary': 6200}, {'name': 'Alice', 'salary': 5500}, {'name': 'Eka', 'salary': 5300}, {'name': 'Dani', 'salary': 5100}]}
{'_id': 'HR', 'top_employees': [{'name': 'Rafi', 'salary': 5500}, {'name': 'Omar', 'salary': 5200}, {'name': 'Putri', 'salary': 5100}, {'name': 'Nina', 'salary': 4900}, {'name': 'Mila', 'salary': 4700}]}
{'_id': 'Engineering', 'top_employees': [{'name': 'Adit', 'salary': 6400}, {'name': 'Cleo', 'salary': 6200}, {'name': 'Zara', 'salary': 6100}, {'name': 'Bima', 'salary': 5900}, {'name': 'Yoga', 'salary': 5800}]}
{'_id': 'Marketing', 'top_employees': [{'name': 'Wawan', 'salary': 6000}, {'name': 'Xena', 'salary': 5400}, {'name': 'Tio', 'salary': 5300}, {'name': 'Umar', 'salary': 5200}, {'name': 'Sinta', 'salary': 4900}]}

In [17]:
result = collection.delete_many({"age": {"$lt": 25}})

print(f"{result.deleted_count} karyawan dengan usia di bawah 25 tahun telah dihapus dari database.")
for doc in collection.find():
    print(doc)

1 karyawan dengan usia di bawah 25 tahun telah dihapus dari database.
{'_id': ObjectId('6906e9aa77b278e0c0847d0e'), 'name': 'Alice', 'department': 'Finance', 'age': 28, 'salary': 5500}
{'_id': ObjectId('6906e9aa77b278e0c0847d0f'), 'name': 'Budi', 'department': 'Finance', 'age': 35, 'salary': 6200}
{'_id': ObjectId('6906e9aa77b278e0c0847d10'), 'name': 'Citra', 'department': 'Finance', 'age': 26, 'salary': 4800}
{'_id': ObjectId('6906e9aa77b278e0c0847d11'), 'name': 'Dani', 'department': 'Finance', 'age': 31, 'salary': 5100}
{'_id': ObjectId('6906e9aa77b278e0c0847d12'), 'name': 'Eka', 'department': 'Finance', 'age': 29, 'salary': 5300}
{'_id': ObjectId('6906e9aa77b278e0c0847d13'), 'name': 'Fahri', 'department': 'Finance', 'age': 40, 'salary': 7000}
{'_id': ObjectId('6906e9aa77b278e0c0847d14'), 'name': 'Gilang', 'department': 'IT', 'age': 25, 'salary': 5200}
{'_id': ObjectId('6906e9aa77b278e0c0847d15'), 'name': 'Hana', 'department': 'IT', 'age': 27, 'salary': 5600}
{'_id': ObjectId('6906e9aa77b278e0c0847d16'), 'name': 'Ivan', 'department': 'IT', 'age': 32, 'salary': 6100}
{'_id': ObjectId('6906e9aa77b278e0c0847d17'), 'name': 'Joko', 'department': 'IT', 'age': 29, 'salary': 5800}
{'_id': ObjectId('6906e9aa77b278e0c0847d18'), 'name': 'Kiki', 'department': 'IT', 'age': 30, 'salary': 5400}
{'_id': ObjectId('6906e9aa77b278e0c0847d19'), 'name': 'Lala', 'department': 'IT', 'age': 33, 'salary': 6000}
{'_id': ObjectId('6906e9aa77b278e0c0847d1a'), 'name': 'Mila', 'department': 'HR', 'age': 26, 'salary': 4700}
{'_id': ObjectId('6906e9aa77b278e0c0847d1b'), 'name': 'Nina', 'department': 'HR', 'age': 28, 'salary': 4900}
{'_id': ObjectId('6906e9aa77b278e0c0847d1c'), 'name': 'Omar', 'department': 'HR', 'age': 35, 'salary': 5200}
{'_id': ObjectId('6906e9aa77b278e0c0847d1d'), 'name': 'Putri', 'department': 'HR', 'age': 30, 'salary': 5100}
{'_id': ObjectId('6906e9aa77b278e0c0847d1f'), 'name': 'Rafi', 'department': 'HR', 'age': 33, 'salary': 5500}
{'_id': ObjectId('6906e9aa77b278e0c0847d20'), 'name': 'Sinta', 'department': 'Marketing', 'age': 27, 'salary': 4900}
{'_id': ObjectId('6906e9aa77b278e0c0847d21'), 'name': 'Tio', 'department': 'Marketing', 'age': 31, 'salary': 5300}
{'_id': ObjectId('6906e9aa77b278e0c0847d22'), 'name': 'Umar', 'department': 'Marketing', 'age': 29, 'salary': 5200}
{'_id': ObjectId('6906e9aa77b278e0c0847d23'), 'name': 'Vina', 'department': 'Marketing', 'age': 25, 'salary': 4700}
{'_id': ObjectId('6906e9aa77b278e0c0847d24'), 'name': 'Wawan', 'department': 'Marketing', 'age': 34, 'salary': 6000}
{'_id': ObjectId('6906e9aa77b278e0c0847d25'), 'name': 'Xena', 'department': 'Marketing', 'age': 30, 'salary': 5400}
{'_id': ObjectId('6906e9aa77b278e0c0847d26'), 'name': 'Yoga', 'department': 'Engineering', 'age': 27, 'salary': 5800}
{'_id': ObjectId('6906e9aa77b278e0c0847d27'), 'name': 'Zara', 'department': 'Engineering', 'age': 28, 'salary': 6100}
{'_id': ObjectId('6906e9aa77b278e0c0847d28'), 'name': 'Adit', 'department': 'Engineering', 'age': 35, 'salary': 6400}
{'_id': ObjectId('6906e9aa77b278e0c0847d29'), 'name': 'Bima', 'department': 'Engineering', 'age': 32, 'salary': 5900}
{'_id': ObjectId('6906e9aa77b278e0c0847d2a'), 'name': 'Cleo', 'department': 'Engineering', 'age': 30, 'salary': 6200}
{'_id': ObjectId('6906e9aa77b278e0c0847d2b'), 'name': 'Dira', 'department': 'Engineering', 'age': 29, 'salary': 5700}

In [18]:
# Menghitung total gaji dan rata-rata umur per departemen
pipeline = [
    {
        "$group": {
            "_id": "$department",
            "total_salary": {"$sum": "$salary"},
            "average_age": {"$avg": "$age"}
        }
    },
    {
        "$project": {
            "_id": 0,
            "department": "$_id",
            "total_salary": 1,
            "average_age": {"$round": ["$average_age", 2]} 
        }
    }
]

result = collection.aggregate(pipeline)

print("Laporan total gaji dan rata-rata umur per departemen:")
for data in result:
    print(data)

Laporan total gaji dan rata-rata umur per departemen:
{'total_salary': 25400, 'department': 'HR', 'average_age': 30.4}
{'total_salary': 33900, 'department': 'Finance', 'average_age': 31.5}
{'total_salary': 34100, 'department': 'IT', 'average_age': 29.33}
{'total_salary': 31500, 'department': 'Marketing', 'average_age': 29.33}
{'total_salary': 36100, 'department': 'Engineering', 'average_age': 30.17}