In [3]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [4]:
update_ops = [
    UpdateOne({'course': 'CS 102'}, {'$inc': {'enrollments': 5}}),
    UpdateOne({'course': 'History 201'}, {'$set': {'department': 'Social Studies'}})
]
courses_collection.bulk_write(update_ops)
print('Courses updated successfully.')

Courses updated successfully.

In [5]:
delete_ops = [
    DeleteOne({'course': 'Physics 202'}),
    DeleteOne({'enrollments': {'$lt': 20}})
]
courses_collection.bulk_write(delete_ops)
print('Courses deleted successfully.')

Courses deleted successfully.

In [6]:
print("=== Course Data ===")
for course in courses_collection.find():
    print(course)

=== Course Data ===
{'_id': ObjectId('6912b7dca66e883623236dab'), 'course': 'Aljabar Linear', 'department': 'Mathematics', 'enrollments': 30, 'students': [{'name': 'Assep', 'age': 20, 'grade': 90}, {'name': 'Hakkan', 'age': 19, 'grade': 75}, {'name': 'Yasalam', 'age': 22, 'grade': 85}]}
{'_id': ObjectId('6912b7dca66e883623236dac'), 'course': 'Data Stuctur', 'department': 'Computer Science', 'enrollments': 25, 'students': [{'name': 'Figok', 'age': 23, 'grade': 99}, {'name': 'Rosyid', 'age': 18, 'grade': 87}, {'name': 'Biyu', 'age': 20, 'grade': 82}]}
{'_id': ObjectId('6912b7dca66e883623236dae'), 'course': 'History Indonesia', 'department': 'History', 'enrollments': 12, 'students': [{'name': 'Rayfal', 'age': 21, 'grade': 100}, {'name': 'Davied', 'age': 22, 'grade': 85}]}
{'_id': ObjectId('69132c2177f14afe05ab5d23'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('69132c2177f14afe05ab5d24'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('69132c2177f14afe05ab5d25'), 'course': 'History 201', 'enrollments': 20, 'department': 'Social Studies'}

In [7]:
from pymongo import MongoClient, InsertOne
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

courses_collection.delete_many({})

operations = [
    InsertOne({
        'course': 'Aljabar Linear',
        'department': 'Mathematics',
        'enrollments': 30,
        'students': [
            {'name': 'Assep', 'age': 20, 'grade': 90},
            {'name': 'Hakkan', 'age': 19, 'grade': 75},
            {'name': 'Yasalam', 'age': 22, 'grade': 85}
        ]
    }),
    InsertOne({
        'course': 'Data Stuctur',
        'department': 'Computer Science',
        'enrollments': 25,
        'students': [
            {'name': 'Figok', 'age': 23, 'grade': 99},
            {'name': 'Rosyid', 'age': 18, 'grade': 87},
            {'name': 'Biyu', 'age': 20, 'grade': 82}
        ]
    }),
    InsertOne({
        'course': 'Math Logic',
        'department': 'Physics',
        'enrollments': 18,
        'students': [
            {'name': 'Lutfi', 'age': 23, 'grade': 90},
            {'name': 'Sabiel', 'age': 18, 'grade': 88},
            {'name': 'Abdillah', 'age': 20, 'grade': 82}
        ]
    }),
    InsertOne({
        'course': 'History Indonesia',
        'department': 'History',
        'enrollments': 12,
        'students': [
            {'name': 'Rayfal', 'age': 21, 'grade': 100},
            {'name': 'Davied', 'age': 22, 'grade': 85}
        ]
    })
]

courses_collection.bulk_write(operations)
print("Courses with student enrollments inserted successfully.\n")

# Tampilkan semua data course
print("=== Course Data ===")
for course in courses_collection.find({}, {'_id': 0}):
    print(f"Course: {course['course']} | Department: {course['department']} | Enrollments: {course['enrollments']}")
    print("Students:")
    for student in course['students']:
        print(f"  - Name: {student['name']}, Age: {student['age']}, Grade: {student['grade']}")
    print()

Courses with student enrollments inserted successfully.

=== Course Data ===
Course: Aljabar Linear | Department: Mathematics | Enrollments: 30
Students:
  - Name: Assep, Age: 20, Grade: 90
  - Name: Hakkan, Age: 19, Grade: 75
  - Name: Yasalam, Age: 22, Grade: 85

Course: Data Stuctur | Department: Computer Science | Enrollments: 25
Students:
  - Name: Figok, Age: 23, Grade: 99
  - Name: Rosyid, Age: 18, Grade: 87
  - Name: Biyu, Age: 20, Grade: 82

Course: Math Logic | Department: Physics | Enrollments: 18
Students:
  - Name: Lutfi, Age: 23, Grade: 90
  - Name: Sabiel, Age: 18, Grade: 88
  - Name: Abdillah, Age: 20, Grade: 82

Course: History Indonesia | Department: History | Enrollments: 12
Students:
  - Name: Rayfal, Age: 21, Grade: 100
  - Name: Davied, Age: 22, Grade: 85

In [8]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('69132c2377f14afe05ab5d28'), 'course': 'Aljabar Linear', 'department': 'Mathematics', 'enrollments': 30, 'students': [{'name': 'Assep', 'age': 20, 'grade': 90}, {'name': 'Hakkan', 'age': 19, 'grade': 75}, {'name': 'Yasalam', 'age': 22, 'grade': 85}]}
{'_id': ObjectId('69132c2377f14afe05ab5d29'), 'course': 'Data Stuctur', 'department': 'Computer Science', 'enrollments': 25, 'students': [{'name': 'Figok', 'age': 23, 'grade': 99}, {'name': 'Rosyid', 'age': 18, 'grade': 87}, {'name': 'Biyu', 'age': 20, 'grade': 82}]}

In [9]:
print("Courses with more than 20 enrollments:\n")
for course in courses_collection.find({'enrollments': {'$gt': 20}}, {'_id': 0}):
    print(f"Course: {course['course']} | Enrollments: {course['enrollments']} | Department: {course['department']}")

Courses with more than 20 enrollments:

Course: Aljabar Linear | Enrollments: 30 | Department: Mathematics
Course: Data Stuctur | Enrollments: 25 | Department: Computer Science

In [10]:
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017')
db = client['university_db']
courses_collection = db['courses']

query = {'department' : {'$in' : ['Computer Science', 'Mathematics']}}
print("Courses from Computer Science or Mathematics department:\n")
for course in courses_collection.find(query, {'_id': 0}):
    print(f"Course: {course['course']} | Department: {course['department']}")

Courses from Computer Science or Mathematics department:

Course: Aljabar Linear | Department: Mathematics
Course: Data Stuctur | Department: Computer Science

In [11]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Physics', 'average_enrollment': 18.0}
{'_id': 'History', 'average_enrollment': 12.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}

In [12]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Physics', 'max_enrollment': 18}
{'_id': 'History', 'max_enrollment': 12}
{'_id': 'Mathematics', 'max_enrollment': 30}

In [13]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('69132c2377f14afe05ab5d28'), 'enrollments': 30, 'course_name': 'Aljabar Linear', 'department_name': 'Mathematics'}
{'_id': ObjectId('69132c2377f14afe05ab5d29'), 'enrollments': 25, 'course_name': 'Data Stuctur', 'department_name': 'Computer Science'}
{'_id': ObjectId('69132c2377f14afe05ab5d2a'), 'enrollments': 18, 'course_name': 'Math Logic', 'department_name': 'Physics'}
{'_id': ObjectId('69132c2377f14afe05ab5d2b'), 'enrollments': 12, 'course_name': 'History Indonesia', 'department_name': 'History'}

In [14]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('69132c2377f14afe05ab5d28'), 'course': 'Aljabar Linear', 'department': 'Mathematics', 'enrollments': 30, 'students': [{'name': 'Assep', 'age': 20, 'grade': 90}, {'name': 'Hakkan', 'age': 19, 'grade': 75}, {'name': 'Yasalam', 'age': 22, 'grade': 85}], 'enrollment_category': 'high'}
{'_id': ObjectId('69132c2377f14afe05ab5d29'), 'course': 'Data Stuctur', 'department': 'Computer Science', 'enrollments': 25, 'students': [{'name': 'Figok', 'age': 23, 'grade': 99}, {'name': 'Rosyid', 'age': 18, 'grade': 87}, {'name': 'Biyu', 'age': 20, 'grade': 82}], 'enrollment_category': 'high'}
{'_id': ObjectId('69132c2377f14afe05ab5d2a'), 'course': 'Math Logic', 'department': 'Physics', 'enrollments': 18, 'students': [{'name': 'Lutfi', 'age': 23, 'grade': 90}, {'name': 'Sabiel', 'age': 18, 'grade': 88}, {'name': 'Abdillah', 'age': 20, 'grade': 82}], 'enrollment_category': 'low'}
{'_id': ObjectId('69132c2377f14afe05ab5d2b'), 'course': 'History Indonesia', 'department': 'History', 'enrollments': 12, 'students': [{'name': 'Rayfal', 'age': 21, 'grade': 100}, {'name': 'Davied', 'age': 22, 'grade': 85}], 'enrollment_category': 'low'}

In [15]:
pipeline = [
    {'$group': {'_id': '$department', 'total_courses': {'$sum': 1}}}
]

result = courses_collection.aggregate(pipeline)

print("=== Total Courses per Department ===")
for dept in result:
    print(f"Department: {dept['_id']} | Total Courses: {dept['total_courses']}")

=== Total Courses per Department ===
Department: Computer Science | Total Courses: 1
Department: Physics | Total Courses: 1
Department: History | Total Courses: 1
Department: Mathematics | Total Courses: 1

In [16]:
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}}, {'$group': {'_id': '$department', 'total_courses': {'$sum': 1}, 'avg_enrollments': {'$avg': '$enrollments'}}}
] 
result = list(courses_collection.aggregate(pipeline))
print("Courses with Enrollments > 25 in 'Computer Science'")
for r in result:
    print(f"Department: {r['_id']} | Total Courses: {r['total_courses']} | Average Enrollments: {r['avg_enrollments']}")

Courses with Enrollments > 25 in 'Computer Science'

In [17]:
pipeline = [
    {
        '$lookup': {
            'from': 'students',
            'localField': 'course',
            'foreignField': 'course',
            'as': 'student_details'
        }
    }
]
for course in courses_collection.aggregate(pipeline):
    print(f"   Course: {course['course']}")
    print(f"   Department : {course['department']}")
    print(f"   Enrollments: {course['enrollments']}")
    print("   Students:")
    for s in course['students']:
        print(f"      - {s['name']} (Age: {s['age']}, Grade: {s['grade']})")
    print()

   Course: Aljabar Linear
   Department : Mathematics
   Enrollments: 30
   Students:
      - Assep (Age: 20, Grade: 90)
      - Hakkan (Age: 19, Grade: 75)
      - Yasalam (Age: 22, Grade: 85)

   Course: Data Stuctur
   Department : Computer Science
   Enrollments: 25
   Students:
      - Figok (Age: 23, Grade: 99)
      - Rosyid (Age: 18, Grade: 87)
      - Biyu (Age: 20, Grade: 82)

   Course: Math Logic
   Department : Physics
   Enrollments: 18
   Students:
      - Lutfi (Age: 23, Grade: 90)
      - Sabiel (Age: 18, Grade: 88)
      - Abdillah (Age: 20, Grade: 82)

   Course: History Indonesia
   Department : History
   Enrollments: 12
   Students:
      - Rayfal (Age: 21, Grade: 100)
      - Davied (Age: 22, Grade: 85)